
<a href="/posts">Back to all posts</a>

<p>Post Title: <%= @post.title %> </p>
<p>Post Content: <%= @post.content %> </p>
<p>Post Author: <%= @author.email %> </p>

<% if @author == current_user %>
  <a href="/posts/<%= @post.id %>/edit">Edit this post</a> <br>
  <form action="/posts/<%= @post.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
<% end %>

<% if logged_in? %>
  <a href="/messages/new/<%= @author.id %>">Send a message to the author of this post</a>
<% end %>
